<?xml version="1.0" encoding="utf-8" ?> 

<configuration> 

  <Vetail> 

    <environment>dev</environment> 

    <sellerUserId>1</sellerUserId> 

     <userTypeAdmin>1</userTypeAdmin> 

    <userTypeSeller>1</userTypeSeller> 

    <userTypeBuyer>2</userTypeBuyer>     

    <tokenSecret>sskvetailmyanmar</tokenSecret> 

    <tokenExpirationMin>10080</tokenExpirationMin> 

    <alg>HS512</alg> 

    <customDeliveryServiceId>1</customDeliveryServiceId>
    <authService>http://vetailauth.shopdoora.com/api/</authService>  
    <!-- <userService>http://dragon.shopdoora.com/auth/api/Auth/</userService>   -->

    <!-- <deliveryService>https://api.shopdoora.com/delivery/api/Delivery/</deliveryService>   -->
    <deliveryService>https://warrior.shopdoora.com/delivery/api/Delivery/</deliveryService>  
    
    <memberPointService>https://warrior.shopdoora.com/memberpoint/api/MemberPoint/</memberPointService>
	  
    <liveSaleService>https://live.shopdoora.com/api/</liveSaleService>   
    <coreshopdoorapath>https://warrior.shopdoora.com/coreshopdoora/api/</coreshopdoorapath>
    <!--swagger login-->
    <swaggerauthService>http://swaggerauth.shopdoora.com/api/</swaggerauthService>
     <dbConnection>Server=148.72.244.216;Database=Dev_Vetail_Product_Entry;User Id=sa;Password=mhs@shopdoora2021</dbConnection>      
     <!--<dbConnection>Server=148.72.244.216;Database=Dev_Vetail;User Id=sa;Password=mhs@shopdoora2021</dbConnection>-->      
    <issuerSigningKey>true</issuerSigningKey> 

    <validateAudience>false</validateAudience> 

    <validateIssuer>true</validateIssuer> 

    <validateLifetime>true</validateLifetime> 

    <tokenIssuer>mhs</tokenIssuer> 

    <deliveryCount>2</deliveryCount> 

    <xmlFilePath>D:\Projects\Vetail</xmlFilePath> 
     <!-- <applicationConfigId>45</applicationConfigId>   -->


    <applicationConfigId>45</applicationConfigId> 

    <!-- <applicationConfigId>46</applicationConfigId>  -->
    
    <bestSellerDuration>7</bestSellerDuration>

    <orderStatus> 

      <order>1</order>        <!--မှာယူပြီး--> 

      <take>2</take>          <!--ထုတ်ပိုးပြီး--> 

      <sending>3</sending>    <!--ပို့နေသည်--> 

      <sent>4</sent>          <!--ပို့ပြီး--> 

      <cancel>5</cancel>      <!--ပယ်ဖျက်သည်--> 

    </orderStatus> 
    <platform>
      <android>1</android>
      <ios>2</ios>    
      <web>3</web>
    </platform>

    <lang>
      <unicode>unicode</unicode>
      <zawgyi>zawgyi</zawgyi> 
    </lang>

     <tax>
      <taxpayerId>435567676</taxpayerId>
      <commercialTax>0</commercialTax>
    </tax>

    <activityType>
      <search>1</search>
      <addToCart>2</addToCart>
      <removeFromCart>3</removeFromCart>
      <order>4</order>
      <orderCancel>5</orderCancel>
      <ip>6</ip>
      <active>7</active>
      <register>8</register>
      <makePayment>9</makePayment>
      <paymentStatus>10</paymentStatus>
      <orderStatus>11</orderStatus>
      <searchCategory>12</searchCategory>
      <addToWishList>13</addToWishList>
      <removeFromWishList>14</removeFromWishList>
    </activityType>

    <searchKeyword>
      <all>1</all>
      <withResult>2</withResult>
      <withoutResult>3</withoutResult>      
    </searchKeyword>

    <searchType> 

      <name>1</name>           <!--search by name--> 

      <category>2</category>   <!--search by category--> 

      <tag>3</tag>             <!--search by tag--> 

      <latest>4</latest>       <!--search with latest product--> 

      <promotion>5</promotion> <!--search with promotion product--> 
      
      <subCategory>6</subCategory> <!--search by sub category-->
       
      <bestSeller>7</bestSeller> <!--search by best seller product--> 
       
      <sku>8</sku> <!--search by product sku--> 
      <buy1get1>9</buy1get1> <!--search by buy1 get1--> 

    </searchType>

    <notiRedirectAction> 

      <orderDetail>GetOrderDetail</orderDetail> 

    </notiRedirectAction>

    <aws> 

      <!-- <key>AKIASCOLVFXBEFTSVWME</key> 

      <secret>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</secret>  -->

      <key>AKIA3D37QKZSZL7VKRN6</key> 

      <secret>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</secret>

      <keyPath>dev/Vetail/images</keyPath>

      <productPath>product</productPath> 

      <orderPath>order</orderPath>
      <catalogPath>catalog</catalogPath>

      <bannerPath>banner</bannerPath> 
      <brandBannerPath>brand/banner</brandBannerPath>
      <brandLogoPath>brand/logo</brandLogoPath>

      <supplierPath>supplier</supplierPath>

      <flashSalePath>flashsale/banner</flashSalePath>

      <!-- <userProfilePath>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/auth/images/user-profiles/</userProfilePath> 

      <imgStaticUrl>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/Vetail/images/</imgStaticUrl> 
      
      <imgHosted>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/</imgHosted> -->

      <userProfilePath>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/dev/VetailAuth/images/user-profiles/</userProfilePath> 

      <imgStaticUrl>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/dev/Vetail/images/</imgStaticUrl> 
      
      <imgHosted>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/</imgHosted>
      
      <bucket>aws-mhsimages-bucket</bucket>
      <fullUrlSize>1080</fullUrlSize>
      <thumbnailUrlSize>320</thumbnailUrlSize>
      <miniUrlSize>100</miniUrlSize>
    </aws> 

    <smsMessages> 

      <apiKey>bgBrPuE4p6pfwEs-yHhPSuyYQrenX60YCAad3QKVcgN1K27Ser2gygI0TN9z_PxE</apiKey> 

      <sendPackageSenderStausSent>SendPackage-Sender-Sent</sendPackageSenderStausSent> 

      <sendPackageRecipientStatusSent>SendPackage-Recipient-Sent</sendPackageRecipientStatusSent> 

      <sendPackageRecipientStatusArrived>SendPackage-Recipient-Arrived</sendPackageRecipientStatusArrived> 

    </smsMessages> 

    <emailMessges> 

      <email>Vetail.myanmarhighsociety@gmail.com</email> 

      <password>Password@123</password> 

      <host>smtp.gmail.com</host> 

      <port>587</port> 

    </emailMessges> 

    <companyProfile> 

      <shopName>Vetail</shopName>

      <shopUrl>https://aws-mhsimages-bucket.s3.ap-southeast-1.amazonaws.com/sit/Vetail/images/logo/AppIcon.png</shopUrl>

      <shopAddress>Lay Daunt Kan Main Road, Cashmere Stop, Near Zawana, Thingangyun Tsp, Yangon</shopAddress>

      <phoneNo>09797306111</phoneNo>

      <facebookName>Vetailmyanmar</facebookName>

      <facebookId>https://www.facebook.com/Vetailmyanmar/</facebookId>
      
      <messengerName>My Vetail</messengerName> 
      <messengerId> https://www.facebook.com/messages/t/1007462002683570</messengerId>

      <website>www.Vetail.com.mm</website> 
      
      <sharedLink>https://www.Vetail.com.mm/productdetails?productId=</sharedLink>
      
      <orderDetailUrl>https://www.Vetail.com.mm/orderdetail?id=</orderDetailUrl>

    </companyProfile> 

    <fcm> 

      <tokenKeyBuyer>AAAAQRZpY9g:APA91bGwZvICzluS-a3VP4rFB3evmdQ7iAsYN8gUzX9Th8-OZffI2BaOgOlMTJvOHaR1CwbkkAhTT_03GMy4zC5ZRrio9VcNWg_tgEa2DIhQKqU9V9QpRDTjb0vaP9MMgHK0rWvD1rrM</tokenKeyBuyer> 

      <senderIdBuyer>279548879832</senderIdBuyer> 

      <tokenKeySeller>AAAAxELXZj4:APA91bH4oM8S_8GjcmhYF4n80lcb2ayFv5wu9cEG9_ccKxfgeKJ98kxnN2HZp7GXdnKYCS0Chf-ANGFLwEXUYgwXUbUdsmFQrBCdm0XjaKi7eiKX_dXlwv3SKHHBnkFM33Mp_2aUSLl-</tokenKeySeller> 

      <senderIdSeller>842935002686</senderIdSeller> 

    </fcm>  

    <userToken>Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxIiwidW5pcXVlX25hbWUiOiJzYWkgYXVuZyBtZWluIiwibmJmIjoxNTg5NTI5NzY4LCJleHAiOjE1OTAxMzQ1NjgsImlhdCI6MTU4OTUyOTc2OCwiaXNzIjoidGhpaGFzb2UifQ.2ccz8Gc39uhPt6ARmPkKG1EEJQgM0rKAMEog62Np7rgGTFmBguid3-FrO7dRiDT2AbMH7FX8D47XgDEN72mWbw</userToken> 

   <paymentService> 

      <waveMoney>1</waveMoney> 

      <kpay>2</kpay> 

      <okDollar>3</okDollar> 

      <master>4</master> 

      <bank>5</bank> 

      <visa>6</visa> 

      <cod>7</cod>    
      <mytelPay>8</mytelPay>    
      <saisaiPay>9</saisaiPay>    
      <cbPay>10</cbPay>    
      <ayaPay>11</ayaPay>    
      <onePay>12</onePay>    
      <waveMoney_manual>13</waveMoney_manual>    
      <kpay_manual>14</kpay_manual>    
      <okDollar_manual>15</okDollar_manual>    
      <master_manual>16</master_manual>    
      <visa_manual>17</visa_manual>    
      <mytelPay_manual>18</mytelPay_manual>    
      <saisaiPay_manual>19</saisaiPay_manual>    
      <cbPay_manual>20</cbPay_manual>    
      <ayaPay_manual>21</ayaPay_manual>    
      <onePay_manual>22</onePay_manual>      
      <tctpVisa>24</tctpVisa>
     <tctpMater>25</tctpMater>
     <tctJcb>26</tctJcb>
     <tctpOkayDollar>27</tctpOkayDollar>
     <tctpCBPayQR>28</tctpCBPayQR>
     <tctpKbzPayQR>29</tctpKbzPayQR>      
     <tctpMpu>30</tctpMpu> 
    </paymentService> 

    <paymentStatus> 

      <check>1</check>  

      <success>2</success> 

      <fail>3</fail> 

    </paymentStatus> 

     <!--logger-->
    <Logger>
      <token>eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiI1IiwidW5pcXVlX25hbWUiOiJWZXRhaWwiLCJncm91cHNpZCI6IjUiLCJuYmYiOjE2NTcwOTE5NDYsImV4cCI6MTk3MjQ1MTk0NiwiaWF0IjoxNjU3MDkxOTQ2LCJpc3MiOiJ0aGloYXNvZSJ9.9AO1GLHfEzDvUvXHzz9k5mHQ2DQbUoGBnYlUH15UVTeI7vD3uKnywa6yNnU1EVXWGptZ4dpB5xaDXGGXhKa4rQ</token>
      <loggerservice>http://log.shopdoora.com/api/Log/</loggerservice>
    </Logger>
    <shopdooraphoneno>09450880003, 09450880003</shopdooraphoneno>
  </Vetail> 

</configuration> 