<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Auth>
    <shopdooratester>shopdooratest</shopdooratester>
    <environment>dev</environment>
    <tokenSecret>sskvetailmyanmar</tokenSecret>
    <tokenExpirationMin>525600</tokenExpirationMin>
    <alg>HS512</alg>

	<memberPointService>http://vetailmemberpoint.shopdoora.com/api/MemberPoint/</memberPointService>

    <dbConnection>Server=148.72.244.216;Database=DEV_VetailAuth_MS;User Id=sa;Password=mhs@shopdoora2021</dbConnection> 
   
    <refreshTokenByte>128</refreshTokenByte>
    <issuerSigningKey>true</issuerSigningKey>
    <validateAudience>false</validateAudience>
    <validateIssuer>true</validateIssuer>
    <validateLifetime>true</validateLifetime>
    <tokenIssuer>mhs</tokenIssuer> 
    <userTypeSeller>1</userTypeSeller> 
    <userTypeBuyer>2</userTypeBuyer>     
    
    <deliveryService>http://vetaildelivery.shopdoora.com/api/VetailDelivery/</deliveryService>
    <aws>
      <key>AKIA3D37QKZSZL7VKRN6</key> 
      <secret>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</secret> 
      <keyPath>dev/vetailAuth/images</keyPath>
      <userProfile>user-profiles</userProfile>
      <apkPath>apk</apkPath>
      <imgStaticUrl>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/dev/vetailAuth/images/</imgStaticUrl>
<imgHosted>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/</imgHosted>
      <bucket>aws-mhsimages-bucket</bucket>
      <fullUrlSize>1080</fullUrlSize>
      <thumbnailUrlSize>320</thumbnailUrlSize>
      <miniUrlSize>100</miniUrlSize>
</aws>
    <smsMessages-SMSPoh>
      <useSMSPoh>false</useSMSPoh>
      <apiKey>bgBrPuE4p6pfwEs-yHhPSuyYQrenX60YCAad3QKVcgN1K27Ser2gygI0TN9z_PxE</apiKey>
      <sendPackageSenderStausSent>SendPackage-Sender-Sent</sendPackageSenderStausSent>
      <sendPackageRecipientStatusSent>SendPackage-Recipient-Sent</sendPackageRecipientStatusSent>
      <sendPackageRecipientStatusArrived>SendPackage-Recipient-Arrived</sendPackageRecipientStatusArrived>
    </smsMessages-SMSPoh>
    <smsMessages-VMG>
      <useVMG>true</useVMG>
       <brandName>InfoSMS</brandName>
		<shortCode>6066</shortCode>
		<longCode>959969696351</longCode>
      <userName>shopdoora</userName>
      <password>Vmg@123456</password>
    </smsMessages-VMG>
    <emailMessges>
      <email>vetail.myanmar@gmail.com</email>
      <password>dqlramyttehpqbft</password>
      <host>smtp.gmail.com</host>
      <port>587</port>
    </emailMessges>
    <companyProfile>
      <phoneNo>09787756543</phoneNo>
      <website>www.shopdoora.com</website>
    </companyProfile>
    <fcm>
      <tokenKey>AAAApsXEE0M:APA91bHPmAEv_PMCWbz7O6QVziWDGzeEdblCXQDYnVWR4sZvyrjZAd0luRvZZTrXbhHE4m5ApszltR_3uyBnh1ETuOSGwBr1hk7iRDP1d0r9xYXAhGwRVMZOXzB2iIllPijse4NU_Wac</tokenKey>
      <senderId>716282532675</senderId>
    </fcm> 
    <userToken>Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxIiwidW5pcXVlX25hbWUiOiJzYWkgYXVuZyBtZWluIiwibmJmIjoxNTg5NTI5NzY4LCJleHAiOjE1OTAxMzQ1NjgsImlhdCI6MTU4OTUyOTc2OCwiaXNzIjoidGhpaGFzb2UifQ.2ccz8Gc39uhPt6ARmPkKG1EEJQgM0rKAMEog62Np7rgGTFmBguid3-FrO7dRiDT2AbMH7FX8D47XgDEN72mWbw</userToken>
    <KBZGateway>
      <notifyUrl>http://3.1.81.62:82/api/notify</notifyUrl>
      <method>kbz.payment.precreate</method>
      <sign_type>SHA256</sign_type>
      <version>1.0</version>
      <appid>kp4e84c65e20c246cb95820aabe8da74</appid>
      <key>29b5f3774842da037352ccea6d6f5232</key>
      <merch_code>200104</merch_code>
      <trade_type>APP</trade_type>
      <trans_currency>MMK</trans_currency>
      <uri>http://api.kbzpay.com/payment/gateway/uat/precreate</uri>
    </KBZGateway>
    <lang>
      <unicode>unicode</unicode>
      <zawgyi>zawgyi</zawgyi> 
    </lang>
<Role>
  <admin>1</admin>
  <staff>2</staff>
</Role>

    <!--logger-->
    <Logger>
      <token>
        eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiI5IiwidW5pcXVlX25hbWUiOiJWZXRhaWxBdXRoIiwiZ3JvdXBzaWQiOiI5IiwibmJmIjoxNjY2OTMwNzA0LCJleHAiOjE5ODIyOTA3MDQsImlhdCI6MTY2NjkzMDcwNCwiaXNzIjoidGhpaGFzb2UifQ.BnkBsud3ySLeN2AiG3xG1HW8T-lZnmsqK3azkCtYUz5_nvc1cScRHfi2VD7XewJA_ZcV6gwQdpMrDOIUWw8s-Q
      </token>
      <loggerservice>http://log.shopdoora.com/api/Log/</loggerservice>
    </Logger>

<membercard>
    <secretkey>e4e5f99deebfdf8f3d5619f9f655ab322965ae7055added33908400c73c075b9</secretkey>
  </membercard>

<DefalutProfile>
<url>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/sit/Vetail/images/Profile/38eef7b6-9484-41da-866c-a22dcf3befa5..jpg</url>
<thumbnailUrl>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/sit/Vetail/images/Profile/b05fd428-3a52-4f1b-8899-1134af2e855c..jpg</thumbnailUrl>
<miniUrl>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/sit/Vetail/images/Profile/a3b7e5f7-f950-4b54-b0a1-3b7d8d66300d..jpg</miniUrl>
</DefalutProfile>

    <!--swagger login-->
    <swaggerauthService>http://swaggerauth.shopdoora.com/api/</swaggerauthService>
    <shopdooraServicePath>http://dragon.shopdoora.com/auth/api/</shopdooraServicePath>
    <!--<vetailServicePath>http://vetail.shopdoora.com/api/</vetailServicePath>-->
    <vetailServicePath>http://localhost:54035/api/</vetailServicePath>

    <SHA256>
      <secretkey>8JWFXLZZJ8P3</secretkey>
    </SHA256>
  </Auth>
</configuration>