<?xml version="1.0" encoding="utf-8" ?> 

<configuration> 

  <Demo> 

    <environment>dev</environment> 

    <sellerUserId>1</sellerUserId> 

     <userTypeAdmin>1</userTypeAdmin> 

    <userTypeSeller>2</userTypeSeller> 

    <userTypeBuyer>3</userTypeBuyer>     

    <tokenSecret>super secret key</tokenSecret> 

    <tokenExpirationMin>10080</tokenExpirationMin> 

    <alg>HS512</alg> 

    <customDeliveryServiceId>1</customDeliveryServiceId> 

    <!-- User Service -->
    <userService>https://warrior.shopdoora.com/auth/api/Auth/</userService>
    <!-- <userService>http://dragon.shopdoora.com/auth/api/Auth/</userService> -->
    
    <!-- Delivery Service -->
    <!-- <deliveryService>https://api.shopdoora.com/delivery/api/Delivery/</deliveryService>   -->
    <!-- <deliveryService>http://dragon.shopdoora.com/delivery/api/Delivery/</deliveryService>   -->
    <deliveryService>https://warrior.shopdoora.com/delivery/api/Delivery/</deliveryService>
    
    <!-- MemberPoint Service -->
    <memberPointService>https://warrior.shopdoora.com/memberpoint/api/MemberPoint/</memberPointService>   
    <!-- <memberPointService>http://dragon.shopdoora.com/memberpoint/api/MemberPoint/</memberPointService>-->

    <!-- Core Service -->
    <coreshopdoorapath>http://warrior.shopdoora.com/coreshopdoora_v2/api/</coreshopdoorapath>

    <!-- ConnectionString     -->
    <!-- <dbConnection>Server=S148-72-244-216\SHOPDOORA2021,1433;Database=Demo;User Id=sa;Password=mhs@shopdoora2021;MultipleActiveResultSets=True</dbConnection> -->
    <dbConnection>Server=148.72.244.216;Database=SIT_Demo;User Id=sa;Password=mhs@shopdoora2021</dbConnection>
    <!-- <dbConnection>Server=148.72.244.216;Database=SIT_Demo;User Id=sa;Password=mhs@shopdoora2021</dbConnection> -->

    <issuerSigningKey>true</issuerSigningKey> 

    <validateAudience>false</validateAudience> 

    <validateIssuer>true</validateIssuer> 

    <validateLifetime>true</validateLifetime> 

    <tokenIssuer>thihasoe</tokenIssuer> 

    <deliveryCount>2</deliveryCount> 

    <xmlFilePath>D:\Projects\Demo</xmlFilePath> 

    <applicationConfigId>55</applicationConfigId> 
    
    <bestSellerDuration>7</bestSellerDuration>

    <orderStatus> 

      <order>1</order>        <!--မှာယူပြီး--> 

      <take>2</take>          <!--ထုတ်ပိုးပြီး--> 

      <sending>3</sending>    <!--ပို့နေသည်--> 

      <sent>4</sent>          <!--ပို့ပြီး--> 

      <cancel>5</cancel>      <!--ပယ်ဖျက်သည်--> 
      <adjustprice>6</adjustprice>  
      <fixedprice>7</fixedprice>
      <ordereditor>10</ordereditor>

    </orderStatus> 
    <platform>
      <android>1</android>
      <ios>2</ios>    
      <web>3</web>
    </platform>

    <lang>
      <unicode>unicode</unicode>
      <zawgyi>zawgyi</zawgyi> 
    </lang>

     <tax>
      <taxpayerId>435567676</taxpayerId>
      <commercialTax>0</commercialTax>
    </tax>

    <activityType>
      <search>1</search>
      <addToCart>2</addToCart>
      <removeFromCart>3</removeFromCart>
      <order>4</order>
      <orderCancel>5</orderCancel>
      <ip>6</ip>
      <active>7</active>
      <register>8</register>
      <makePayment>9</makePayment>
      <paymentStatus>10</paymentStatus>
      <orderStatus>11</orderStatus>
      <searchCategory>12</searchCategory>
       <addToWishList>13</addToWishList>
      <removeFromWishList>14</removeFromWishList>
    </activityType>

    <searchKeyword>
      <all>1</all>
      <withResult>2</withResult>
      <withoutResult>3</withoutResult>      
    </searchKeyword>

     <CashierName>Tyre 78</CashierName>

    <searchType> 

      <name>1</name>           <!--search by name--> 

      <category>2</category>   <!--search by category--> 

      <tag>3</tag>             <!--search by tag--> 

      <latest>4</latest>       <!--search with latest product--> 

      <promotion>5</promotion> <!--search with promotion product--> 
      
      <subCategory>6</subCategory> <!--search by sub category-->
       
      <bestSeller>7</bestSeller> <!--search by best seller product--> 
       
      <sku>8</sku> <!--search by product sku--> 
      <buy1get1>9</buy1get1> <!--search by buy1 get1--> 

    </searchType>

    <notiRedirectAction>
		<orderDetail>GetOrderDetail</orderDetail>
		<!--fromtoprice-->
		<orderapproveprice>GetOrderConfirm</orderapproveprice>
		<orderMessage>GetOrderMessage</orderMessage>
	</notiRedirectAction> 

    <aws> 

      <!-- <key>AKIASCOLVFXBEFTSVWME</key> 

      <secret>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</secret>  -->

      <key>AKIA3D37QKZSZL7VKRN6</key> 

      <secret>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</secret>

      <keyPath>sit/Demo/images</keyPath>

      <productPath>product</productPath> 

      <orderPath>order</orderPath>
      <catalogPath>catalog</catalogPath>

      <bannerPath>banner</bannerPath> 
      <brandBannerPath>brand/banner</brandBannerPath>
      <brandLogoPath>brand/logo</brandLogoPath>

      <!-- <userProfilePath>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/auth/images/user-profiles/</userProfilePath> 

      <imgStaticUrl>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/Demo/images/</imgStaticUrl> 
      
      <imgHosted>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/</imgHosted> -->

      <userProfilePath>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/auth/images/user-profiles/</userProfilePath> 

      <imgStaticUrl>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/sit/Demo/images/</imgStaticUrl> 
      
      <imgHosted>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/</imgHosted>
    </aws> 

    <smsMessages> 

      <apiKey>bgBrPuE4p6pfwEs-yHhPSuyYQrenX60YCAad3QKVcgN1K27Ser2gygI0TN9z_PxE</apiKey> 

      <sendPackageSenderStausSent>SendPackage-Sender-Sent</sendPackageSenderStausSent> 

      <sendPackageRecipientStatusSent>SendPackage-Recipient-Sent</sendPackageRecipientStatusSent> 

      <sendPackageRecipientStatusArrived>SendPackage-Recipient-Arrived</sendPackageRecipientStatusArrived> 

    </smsMessages> 

    <emailMessges> 

      <email>Demo.myanmarhighsociety@gmail.com</email> 

      <password>Password@123</password> 

      <host>smtp.gmail.com</host> 

      <port>587</port> 

    </emailMessges> 

    <companyProfile> 

      <shopName>Tyre 78</shopName>

      <shopUrl>https://aws-mhsimages-bucket.s3.ap-southeast-1.amazonaws.com/DefaultImage/AppLogo/Demo_logo.png</shopUrl>

      <shopAddress>No. 295, Between Pyitharyar Street and Yadana Street, Wazayandar Road, Yangon</shopAddress>

      <phoneNo>09-899891978, 09-780780530, 09-775595577</phoneNo>

      <facebookName>Tyre 78</facebookName>

      <facebookId> https://www.facebook.com/TYRE1978</facebookId>
      
      <messengerName>Demo</messengerName> 

      <website>www.Demo.com.mm</website> 
      
      <sharedLink>https://www.Demo.com.mm/productdetails?productId=</sharedLink>
      
      <orderDetailUrl>https://www.Demo.com.mm/orderdetail?id=</orderDetailUrl>

    </companyProfile>

    <fcm> 

      <tokenKeyBuyer>AAAAsD_aeK4:APA91bGZfblPoKTji2fOgPXtcPK0UvDVwsh0ameffRah2WE4sxluqyLrubwHQ8JfkGNDgoW0ftf13lOat01knzSknBA3-oCDIUPckmB2buKpw3XkEOEDbU7YR32H7v1z3KHOQYDObFoT</tokenKeyBuyer> 

      <senderIdBuyer>756985526446</senderIdBuyer> 

      <tokenKeySeller>AAAAxELXZj4:APA91bH4oM8S_8GjcmhYF4n80lcb2ayFv5wu9cEG9_ccKxfgeKJ98kxnN2HZp7GXdnKYCS0Chf-ANGFLwEXUYgwXUbUdsmFQrBCdm0XjaKi7eiKX_dXlwv3SKHHBnkFM33Mp_2aUSLl-</tokenKeySeller> 

      <senderIdSeller>842935002686</senderIdSeller> 

    </fcm>

    <userToken>Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxIiwidW5pcXVlX25hbWUiOiJzYWkgYXVuZyBtZWluIiwibmJmIjoxNTg5NTI5NzY4LCJleHAiOjE1OTAxMzQ1NjgsImlhdCI6MTU4OTUyOTc2OCwiaXNzIjoidGhpaGFzb2UifQ.2ccz8Gc39uhPt6ARmPkKG1EEJQgM0rKAMEog62Np7rgGTFmBguid3-FrO7dRiDT2AbMH7FX8D47XgDEN72mWbw</userToken> 

    <KBZGateway> 

      <notifyUrl>https://api.shopdoora.com/Demo/api/Order/CallBackKPayNotify</notifyUrl> 

      <method>kbz.payment.precreate</method> 

      <sign_type>SHA256</sign_type> 

      <version>1.0</version> 

      <appid>kp4e84c65e20c246cb95820aabe8da74</appid> 

      <key>29b5f3774842da037352ccea6d6f5232</key> 

      <merch_code>200104</merch_code> 

      <trade_type_mobile>APP</trade_type_mobile>  

      <trade_type_web>PWAAPP</trade_type_web> 

      <trans_currency>MMK</trans_currency> 

      <uri>http://api.kbzpay.com/payment/gateway/uat/precreate</uri> 
      <queryorderuri>http://api.kbzpay.com/payment/gateway/uat/queryorder</queryorderuri>
      <queryorderversion>3.0</queryorderversion>
      <queryordermethod>kbz.payment.queryorder</queryordermethod>

    </KBZGateway> 
    <WavePay>
      <uri>https://testpayments.wavemoney.io:8107/payment</uri>
      <merch_Id>shopdoorawmmmerchant</merch_Id>
      <key>3cbb9692625f2f87b7f0c31ad63cfc34ccb9f5b23fa60093750afd031ea2b45a</key>
      <frontend_url>http://qa.Demo.com.mm/shoppingcart?platform=</frontend_url>
      <backend_url>https://api.shopdoora.com/maymayshop/api/Order/CheckWaveTransactionStatus</backend_url>
      <merch_name>Demo</merch_name>
      <time_sec>300</time_sec>
      <authenticate_uri>https://testpayments.wavemoney.io:8107/authenticate?</authenticate_uri>
    </WavePay>

   <paymentService> 

      <waveMoney>1</waveMoney> 

      <kpay>2</kpay> 

      <okDollar>3</okDollar> 

      <master>4</master> 

      <bank>5</bank> 

      <visa>6</visa> 

      <cod>7</cod>    
      <mytelPay>8</mytelPay>    
      <saisaiPay>9</saisaiPay>    
      <cbPay>10</cbPay>    
      <ayaPay>11</ayaPay>    
      <onePay>12</onePay>    
      <waveMoney_manual>13</waveMoney_manual>    
      <kpay_manual>14</kpay_manual>    
      <okDollar_manual>15</okDollar_manual>    
      <master_manual>16</master_manual>    
      <visa_manual>17</visa_manual>    
      <mytelPay_manual>18</mytelPay_manual>    
      <saisaiPay_manual>19</saisaiPay_manual>    
      <cbPay_manual>20</cbPay_manual>    
      <ayaPay_manual>21</ayaPay_manual>    
      <onePay_manual>22</onePay_manual>
     <buywithpoint>23</buywithpoint>

   </paymentService> 

    <paymentStatus> 

      <check>1</check>  

      <success>2</success> 

      <fail>3</fail> 

    </paymentStatus> 

     <Logger>
      <token>eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIzIiwidW5pcXVlX25hbWUiOiJNYWluIiwiZ3JvdXBzaWQiOiIzIiwibmJmIjoxNjU0ODU0MDk5LCJleHAiOjE5NzAyMTQwOTksImlhdCI6MTY1NDg1NDA5OSwiaXNzIjoidGhpaGFzb2UifQ.7DrW9REMj7q3JGzr_xOVaCJ-MazZjk3kYjfXMCUFL6mNsSK-WrSM9N1j-_aIWEDD2h7b1H3rHhaqJipuUfNMpQ</token>
      <loggerservice>http://log.shopdoora.com/api/Log/</loggerservice>
    </Logger>

     <!--swagger login-->
    <swaggerauthService>http://swaggerauth.shopdoora.com/api/</swaggerauthService>

  </Demo> 

</configuration> 